<div class="col-md-3 col-xl-3 support_info_container ">

  <div class="col-md-push-1 col-xl-push-1 col-md-11 col-xl-11">


    <div class="row">
      <div class="text-right">
        <img src="images/ptica.png" alt="ptica" height="70px" ng-click="">
      </div>
      <a href="#/requisites" role="button" ng-show="location() != '/requisites'"
         class="btn btn-primary btn-block main-button">
        Внести свою лепту
      </a>
      <a href="#/" role="button" ng-show="location() === '/requisites'"
         class="btn btn-primary btn-block main-button main-button-2">
        Спасибо за Ваше участие!
      </a>
    </div>


    <nl-random-group></nl-random-group>


    <a href="http://sv-nikolay.kiev.ua">
      <h4 class="text-center ">

        Храм святителя Николая Чудотворца
      </h4>

    </a>

    <div class="thumbnail">
      <img class="img-responsive pop-up"
           src="http://sv-nikolay.kiev.ua/images/stories/hram_1.jpg"
           alt="hram 1"/>
    </div>


    <div class="nl-links margin-top-50">
      <!--<h3 class="text-center">Ссылки</h3>-->

      <div class="row text-center">
        <div class="col-md-4 col-sm-4 col-xs-4 thumbnail">
          <a href="http://orthodoxy.org.ua/" target="_blank">
            <img src="http://churches.kiev.ua/images/banners/orthodox_uoc_88_31.jpg"
                 class="img-responsive"/>
          </a>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-4 thumbnail">
          <a href="http://mitropolia.kiev.ua/" target="_blank">
            <img src="images/links/mitropolia.png" alt="mitropolia"
                 class="img-responsive"/>
          </a>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-4 thumbnail">
          <a href="http://pravlife.org" target="_blank">
            <img src="images/links/PravLife.png" alt="pravlife"
                 class="img-responsive"/>
          </a>
        </div>
      </div>

      <div class="row text-center">
        <div class="col-md-4 col-sm-4 col-xs-4 thumbnail">
          <a href="http://cpg.in.ua/" target="_blank">
            <img src="images/links/cerkPravGazeta.png" alt="cerkPravGazeta" width="88"
                 class="img-responsive"/>
          </a>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-4 thumbnail">
          <a href="http://blago.church.ua/category/bez-rubriki/" target="_blank">
            <img src="images/links/sinodDepart.png" alt="sinodDepart" width="88"
                 class="img-responsive"/>
          </a>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-4 thumbnail">
          <a href="http://miloserdie-mission.org/" target="_blank">
            <img src="images/links/miloserdie.png" alt="miloserdie" width="88"
                 class="img-responsive"/>
          </a>
        </div>
      </div>

    </div>
  </div>
</div>
