<nl-random-album
  date="27.12.2014"
  title="Ярмарка-аукцион на рождественские праздники"
  link="https://picasaweb.google.com/data/feed/base/user/111442129617636727768/albumid/6100601476767132305"
  >
</nl-random-album>
<nl-random-album
  date="01.06.2015"
  title="День памяти"
  link="https://picasaweb.google.com/data/feed/base/user/111442129617636727768/albumid/6157655211194880945"
  >
</nl-random-album>
<nl-random-album
  date=""
  title="Наша Лепта"
  link="https://picasaweb.google.com/data/feed/base/user/111442129617636727768/albumid/6177959699691999153"
  >
</nl-random-album>



