<div class="video-header" ng-show='auth.user'>
  <div class="videos-header">
    <h1 title="videos">Слайды</h1>
    <a class="btn btn-default" href='#/videos/new'>
      Создать слайд<span class="glyphicon glyphicon-plus-sign"></span>
    </a>
  </div>
  <p ng-show="video">Слайдов пока нет</p>
</div>
<carousel interval="3000" class="photo-with-caption-container">
  <video ng-repeat="video in videos" active="video.active"  >
    <div class="col-md-8 photo-with-caption-container">
      <figure class="photo-thumbnail">
        <img ng-src="{{video.cover}}" class="img-responsive">
        <figcaption class="video-caption text-center">
          <h3>{{video.title}}</h3>
          <p>
            {{video.description}}
          </p>
          <a ng-href="{{video.detailsLink}}" class="pull-right btn btn-danger">{{video.buttonName}}</a>
        </figcaption>
      </figure>
    </div>
  </video>
</carousel>
