<div class="slide-header" ng-show='auth.user'>
  <div class="slides-header">
    <h1 title="slides">Альбомы</h1>
    <a class="btn btn-default" href='#/slides/new'>
      Создать альбом <span class="glyphicon glyphicon-plus-sign"></span>
    </a>
  </div>
  <p ng-show="slide">Альбомов пока нет</p>
</div>
<div class="col-md-4 photo-with-caption-container" ng-repeat="slide in slides | orderBy:'-date'" >
    <figure class="photo-thumbnail">
      <a ng-href="#/slides/{{slide.id}}">
        <img ng-src="{{slide.cover}}" class="img-responsive">
        <figcaption class="photo-caption text-center">
          {{slide.title}}
        </figcaption>
      </a>
    </figure>
</div>
