<h2>КОНТАКТИ</h2><p>Ви можете внести свою лепту в добру справу</p><p>&nbsp;</p><p>Перерахувавши
  кошти на банківський рахунок</p><p>храму свт. Миколая Чудотворця</p><p>Реквізити:</p><p>р/р
  26009411851 Центральне Відділення ПАТ "МАРФІН БАНК" у м. Києві</p><p>МФО 328168&nbsp; РГ УПЦ
  Парафії Святителя Миколая Чудотворця</p><p>код&nbsp; 21650966</p><p>Призначення платежу:
  Благодійна допомога "Наша Лепта"</p><p>&nbsp;</p><p>&nbsp;Як нас знайти: Храм знаходиться&nbsp; в
  районі станції метро «Печерська»,&nbsp; а також &nbsp; можна&nbsp; дістатися від от метро «Палац
  Україна» - маршрутка 520 до зупинки&nbsp; "17 лікарня".</p>
<ui-gmap-google-map center="map.center" zoom="map.zoom" draggable="true" options="options">
  <ui-gmap-marker coords="marker1.coords" options="marker1.options"
                  idkey="marker1.id"></ui-gmap-marker>
  <ui-gmap-marker coords="marker2.coords" options="marker2.options"
                  idkey="marker2.id"></ui-gmap-marker>
</ui-gmap-google-map>
