<div class="album-header" ng-show='auth.user'>
  <div class="albums-header">
    <h1 title="albums">Альбомы</h1>
    <a class="btn btn-default" href='#/albums/new'>
      Создать альбом <span class="glyphicon glyphicon-plus-sign"></span>
    </a>
  </div>
  <p ng-show="album">Статей пока нет</p>
</div>
<div class="album-thumbnail text-center col-md-4" ng-repeat="album in albums">
  <a ng-href="#/albums/{{album.id}}">
    <img ng-src="{{album.cover}}" class="img-responsive ">
  </a>
  <div class="album-caption">
    {{album.title}}
  </div>
</div>
