html {
  height: 100%;
}

body {

  background: -webkit-linear-gradient(to bottom, #ffff99 0%,#ffff99 40%, #ff0000 70% , #ff0000 100%) fixed; /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(to bottom, #ffff99 0%,#ffff99 40%, #ff0000 70% , #ff0000 100%) fixed; /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(to bottom, #ffff99 0%,#ffff99 40%, #ff0000 70% , #ff0000 100%) fixed; /* For Firefox 3.6 to 15 */
  background: linear-gradient(to bottom, #ffff99 0%,#ffff99 40%, #ff0000 70% , #ff0000 100%) fixed; /* Standard syntax */
  color: #333;
  font-family: Georgia, Times, serif;
  font-size: 12px;
  height: 100%;
  line-height: 1.42857143;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  margin: 10px 0;
}

h6{
  font-size: 20px;
  color: #333;
  margin-bottom: 20px;
  background-color: #FF3736;
  border: 1px solid #e3e3e3;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
  padding: 5px;
  border-radius: 3px;
}

a {
  color: #00B233;
}


a:hover, a:focus {
  color: #007F24;
  text-decoration: underline;
}




select,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
  background-color: #ffff99;
}



.browsehappy {
  background: #ccc;
  color: #000;
  margin: 0.2em 0;
  padding: 0.2em 0;
}

/*BUTTONS start*/
.btn {
  background-image: -moz-linear-gradient(top, #63CF0B, #4B9C08);
  background-image: -ms-linear-gradient(top, #63CF0B, #4B9C08);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#63CF0B), to(#4B9C08));
  background-image: -webkit-linear-gradient(top, #63CF0B, #4B9C08);
  background-image: -o-linear-gradient(top, #63CF0B, #4B9C08);
  background-image: linear-gradient(top, #63CF0B, #4B9C08);
  color: #FFCC00;
}

a > h1, button > h1,
a > h2, button > h2,
a > h3, button > h3,
a > h4, button > h4,
a > h5, button > h5,
a > h6, button > h6 {
  color: #FFCC00;
}

.btn-link {
  color: #289F16;
}

.btn-link:hover,
.btn-link:focus {
  color: #45BD32;
}

.btn-primary {
  background-color: #63CF0B;
  border-color: #45BD32;
  color: #FFCC00;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary:active,
.btn-primary.active,
.btn-primary.disabled,
.btn-primary[disabled]
.open > .dropdown-toggle.btn-primary {
  background-color: #45BD32;
  border-color: #289F16;
  color: #F9F619;
}

.btn-danger {
  color: #F9F619;
}
/*BUTTONS end*/


.border-right-gradient {
  height: 750px;
  margin: 0!Important;
  padding: 0!important;
  background: #ddd;
  width: 4px!important;
  background: -moz-linear-gradient(bottom,  #ffff99 0%,#ffff99 40%, #FF4328 70% , #FF4328 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0%, #ffff99), color-stop(40%, #ffff99), color-stop(70%,#FF4328), color-stop(100%,#FF4328)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(bottom,  #ffff99 0%,#ffff99 40%, #FF4328 70% , #FF4328 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(bottom,  #ffff99 0%,#ffff99 40%, #FF4328 70% , #FF4328 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(bottom,  #ffff99 0%,#ffff99 40%, #FF4328 70% , #FF4328 100%); /* IE10+ */
  background: linear-gradient(to top,  #ffff99 0%,#ffff99 40%, #FF4328 70% , #FF4328 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0064c7ab', endColorstr='#004aa3df',GradientType=0 ); /* IE6-9 */
}


.gallery {
  margin: 20px 0;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  background-color: #70C539;
  color: #284514;
  padding-left: 0.9375em;
  /*border-top: 1px solid #e5e5e5;*/
  padding-right: 0.9375em;
  padding-top: 1.1875em;
  text-align: center;
  /*min-width: 100%;*/
}
.push, .footer{
  height: 50px;
  clear: both;
}

/* Custom page header */
.header {
  /*border-bottom: 1px solid #e5e5e5;*/
  margin-bottom: 0.625em;
}

/* Make the masthead heading the same height as the navigation */
.header h3 {
  line-height: 2.500em;
  margin-bottom: 0;
  margin-top: 0;
  padding-bottom: 1.1875em;
}

.hram-link{
  padding: 0;
  margin-bottom: 0;
  line-height: 1.1;
  background-color: transparent;
  border: 0;
}


/*Album carousel start*/
.photo-caption {
  color: #fff;
  width:100%;
  bottom: .0rem;
  position: absolute;
  background:rgba(115, 16, 36, 0.69);
  padding: 0.5em 0;
}

.photo-with-caption-container {
  padding-top: 3em;
  margin: 0;
}

.photo-thumbnail {
  margin: .1em;
  position: relative;
}

.photo-thumbnail img:hover{
  outline: 0.2em solid #cc0033;
}
/*Album carousel end*/


/*CAROUSEL start*/
.carousel-caption {
  bottom: 20px;
  color: #ffff99;
  left: 15%;
  padding-bottom: 35px;
  padding-top: 20px;
  position: absolute;
  right: 15%;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, .6);
  z-index: 10;
}

.carousel-title{
  color: #FFCC00;
  font-size: 2em;
  font-weight: bold;
}

.carousel-text{
  color: #333;
  font-size: 1.2em;
  font-weight: bold;
}

.carousel-control.right.nl_carousel {
  background-image: none;
}

.carousel-control.left.nl_carousel {
  background-image: none;
}

.carousel-indicators li {
  border: none;
}

.carousel-indicators .active {
  background-color: transparent;
}

.col-centered{
  float: none;
  margin: 0 auto;
  display: block;
}

.nl_carousel {
  margin: 1.250em 0;
}

/*CAROUSEL end*/

/* Custom page footer */
.container-narrow > hr {
  margin: 1.875em 0;
}

/*divider*/
.nl-divider{
  /*background: url("../images/vishivanka.png") repeat-x;*/
  background-image:url(../images/divider.png);
  background-repeat:repeat-x;
}

/*DROPDOWN start*/

.dropdown-menu {
  background-color: #ff0000;
  border: 1px solid #F9F619;

}

.dropdown-menu > li > a {
  color: #ffff99;
}

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
  background-color: #F9F619;
  color: #00B233;
  text-decoration: none;
}

.dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus {
  background-color: #F9F619;
}

/*DROPDOWN end*/

.jumbotron {
  border-bottom: 1px solid #e5e5e5;
  text-align: center;
}

.jumbotron .btn {
  font-size: 1.3125em;
  padding: 0.875em 1.500em;
}




.top-gradient {
  background: -webkit-linear-gradient(to right, #ffff99 0%,#ffff99 10%, #ff0000 50% , #ffff99 90%, #ffff99 100%); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(to right, #ffff99 0%,#ffff99 10%, #ff0000 50% , #ffff99 90%, #ffff99 100%); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(to right, #ffff99 0%,#ffff99 10%, #ff0000 50% , #ffff99 90%, #ffff99 100%); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right, #ffff99 0%,#ffff99 10%, #ff0000 50% , #ffff99 90%, #ffff99 100%); /* Standard syntax */
  line-height: 4px;
}


.main-button{
  text-shadow: 1px 1px 3px #000;
  box-shadow: 2px 2px 5px #000;
  font-size: 1.583em;
}

.main-button-2{
  font-size: 1.167em;
}

/* Main marketing message and sign up button */
/* Supporting marketing content */
.marketing {
  margin: 2.500em 0;
}

.marketing p + h4 {
  margin-top: 1.750em;
}

/*MARGINS start*/
.margin-05 {
  margin: 0.5em 0;
}

.margin-10 {
  margin: 1.0em 0;
}

.margin-15 {
  margin: 1.5em 0;
}

.margin-20 {
  margin: 2.0em 0;
}

.margin-25 {
  margin: 2.5em 0;
}

.margin-30 {
  margin: 3.0em 0;
}

.margin-50 {
  margin: 5.0em 0;
}


.padding-top-20 {
  padding-top: 2.0em;
}

.padding-top-25 {
  padding-top: 2.5em;
}

.padding-top-10 {
  padding-top: 1.0em;
}

.margin-top-50 {
  margin-top: 5.0em;
}


/*MARGINS end*/


/*NAVBAR start*/
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  background-color: #FFCC00 !important;
}

ul.nav li.active a, .navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color: #00B233 !important;
}

.navbar-default .navbar-nav > li > a {
  color: #FFCC00;
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
  background-color: #FFCC00;
;
  color: #00B233;
}

.nl_nav {
  background-color: #ff0000;
  font-weight: bold;
}


.navbar-inner {
  background-image: -moz-linear-gradient(top, #ff0000, #FFCC00);
  background-image: -ms-linear-gradient(top, #ff0000, #FFCC00);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ff0000), to(#FFCC00));
  background-image: -webkit-linear-gradient(top, #ff0000, #FFCC00);
  background-image: -o-linear-gradient(top, #ff0000, #FFCC00);
  background-image: linear-gradient(top, #ff0000, #FFCC00);
}

.navbar .brand {
  color: #FFCC00;
  font-size: 20px;
  padding: 8px 20px 12px;
}

.navbar {
  background-color: #ff0000;
  border-right: 1px solid #f94451;
  height: 41px;
}

.navbar .nav > li > a {
  color: #FFCC00;
  font-size: 1.167em;
  padding: 10px 10px 11px;
  border-left: 1px solid #FFCC00;
  border-right: 1px solid #FFCC00
}

.navbar .nav > .active > a,
.navbar .nav > .active > a:hover,
.navbar .nav > .active > a:focus {
  color: #FFCC00;
}

.navbar-nav li > .dropdown-menu
{
  font-size: 1.167em;
}


.navbar-nav {
  display: inline-block !important;
}

.navbar-default {
  text-align: center !important;
}
/*NAVBAR end*/

.nl_main {
  background-color: #ffff99;
}

.nl_grad_horizontal {
  background: -webkit-linear-gradient(left, #ff0000, #ffff99); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(right, #ff0000, #ffff99); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right, #ff0000, #ffff99); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right, #ff0000, #ffff99); /* Standard syntax */
}

.nl_grad_vertical {
  background: -webkit-linear-gradient(to bottom, #ff0000 0%,#ff0000 70%, #ffff99 100%); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(to bottom, #ff0000 0%,#ff0000 70%, #ffff99 100%); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(to bottom, #ff0000 0%,#ff0000 70%, #ffff99 100%); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to bottom, #ff0000 0%,#ff0000 70%, #ffff99 100%); /* Standard syntax */
}

.nl_grad_vertical_reverse {
  background: -webkit-linear-gradient(to bottom, #ffff99 0%,#ffff99 40%, #ff0000 100%); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(to bottom, #ffff99 0%,#ffff99 40%, #ff0000 100%); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(to bottom, #ffff99 0%,#ffff99 40%, #ff0000 100%); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to bottom, #ffff99 0%,#ffff99 40%, #ff0000 100%); /* Standard syntax */
}


.angular-google-map-container { height: 400px; }


.wrapper {
  height: auto !important;
  height: 100%;
  /* This line and the next line are not necessary unless you need IE6 support */
  margin: 50px auto -50px auto;
  min-height: 100%;
  /* the bottom margin is the negative value of the footer's height */
}


/*Novelty css starts*/
.novelty-link-date {
  background-color: white;
  padding: 0.5em 1em;
}
.novelty-link-date a {
  color: black;
}

.novelty-summary-view{
  padding: 1em 0;
}
/*Novelty css ends*/


/* Responsive: Portrait tablets and up */


/*Extra large desktop*/
@media (min-width: 1600px) {


  body{
    font-size: 16px;
  }

  /*.main-button{*/
    /*font-size: 24px;*/
  /*}*/

  /*.main-button-2{*/
    /*font-size: 19px;*/
  /*}*/

  /*.navbar .nav > li > a {*/
    /*font-size: 16px;*/
  /*}*/

  /*.navbar-nav li > .dropdown-menu*/
  /*{*/
    /*font-size: 16px;*/
  /*}*/


  .green-border{
    border: 4px solid #63CF0B;
  }


  .container {
    width: 1570px;
  }

  .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12 {
    float: left;
  }

  .col-xl-12 {
    width: 100%;
  }

  .col-xl-11 {
    width: 91.66666667%;
  }

  .col-xl-10 {
    width: 83.33333333%;
  }

  .col-xl-9 {
    width: 75%;
  }

  .col-xl-8 {
    width: 66.66666667%;
  }

  .col-xl-7 {
    width: 58.33333333%;
  }

  .col-xl-6 {
    width: 50%;
  }

  .col-xl-5 {
    width: 41.66666667%;
  }

  .col-xl-4 {
    width: 33.33333333%;
  }

  .col-xl-3 {
    width: 25%;
  }

  .col-xl-2 {
    width: 16.66666667%;
  }

  .col-xl-1 {
    width: 8.33333333%;
  }

  .col-xl-pull-12 {
    right: 100%;
  }

  .col-xl-pull-11 {
    right: 91.66666667%;
  }

  .col-xl-pull-10 {
    right: 83.33333333%;
  }

  .col-xl-pull-9 {
    right: 75%;
  }

  .col-xl-pull-8 {
    right: 66.66666667%;
  }

  .col-xl-pull-7 {
    right: 58.33333333%;
  }

  .col-xl-pull-6 {
    right: 50%;
  }

  .col-xl-pull-5 {
    right: 41.66666667%;
  }

  .col-xl-pull-4 {
    right: 33.33333333%;
  }

  .col-xl-pull-3 {
    right: 25%;
  }

  .col-xl-pull-2 {
    right: 16.66666667%;
  }

  .col-xl-pull-1 {
    right: 8.33333333%;
  }

  .col-xl-pull-0 {
    right: auto;
  }

  .col-xl-push-12 {
    left: 100%;
  }

  .col-xl-push-11 {
    left: 91.66666667%;
  }

  .col-xl-push-10 {
    left: 83.33333333%;
  }

  .col-xl-push-9 {
    left: 75%;
  }

  .col-xl-push-8 {
    left: 66.66666667%;
  }

  .col-xl-push-7 {
    left: 58.33333333%;
  }

  .col-xl-push-6 {
    left: 50%;
  }

  .col-xl-push-5 {
    left: 41.66666667%;
  }

  .col-xl-push-4 {
    left: 33.33333333%;
  }

  .col-xl-push-3 {
    left: 25%;
  }

  .col-xl-push-2 {
    left: 16.66666667%;
  }

  .col-xl-push-1 {
    left: 8.33333333%;
  }

  .col-xl-push-0 {
    left: auto;
  }

  .col-xl-offset-12 {
    margin-left: 100%;
  }

  .col-xl-offset-11 {
    margin-left: 91.66666667%;
  }

  .col-xl-offset-10 {
    margin-left: 83.33333333%;
  }

  .col-xl-offset-9 {
    margin-left: 75%;
  }

  .col-xl-offset-8 {
    margin-left: 66.66666667%;
  }

  .col-xl-offset-7 {
    margin-left: 58.33333333%;
  }

  .col-xl-offset-6 {
    margin-left: 50%;
  }

  .col-xl-offset-5 {
    margin-left: 41.66666667%;
  }

  .col-xl-offset-4 {
    margin-left: 33.33333333%;
  }

  .col-xl-offset-3 {
    margin-left: 25%;
  }

  .col-xl-offset-2 {
    margin-left: 16.66666667%;
  }

  .col-xl-offset-1 {
    margin-left: 8.33333333%;
  }

  .col-xl-offset-0 {
    margin-left: 0;
  }

  .visible-xl {
    display: block !important;
  }

  table.visible-xl {
    display: table;
  }

  tr.visible-xl {
    display: table-row !important;
  }

  th.visible-xl, td.visible-xl {
    display: table-cell !important;
  }

  .visible-xl-block {
    display: block !important;
  }

  .visible-xl-inline {
    display: inline !important;
  }

  .visible-xl-inline-block {
    display: inline-block !important;
  }

  .hidden-xl {
    display: none !important;
  }
}

@media (min-width: 1200px) and (max-width: 1599px) {
  .hidden-lg {
    display: none !important;
  }

  .green-border{
    border: 4px solid #63CF0B;
  }
}


.visible-xl-block,
.visible-xl-inline,
.visible-xl-inline-block,
.visible-xl{
  display: none !important;
}



/* Large desktop */
@media (min-width: 1200px) {

  /*.wrapper {*/
  /*background: url(../images/vishivanka.png) right repeat-y, url(../images/vishivanka.png) left repeat-y;*/
  /*}*/
  /*.container-fluid {*/
  /*width: 98%;*/
  /*}*/

  .green-border{
    border: 4px solid #63CF0B;
  }


  .vishivanka-border {
    /*border: 6px solid #63CF0B;*/
    /*-moz-border-image-slice: 6 6 6 6;*/
    /*-moz-border-image-width: 6px 6px 6px 6px;*/
    /*-moz-border-image-outset: 0px 0px 0px 0px;*/
    /*-moz-border-image-repeat: round repeat;*/
    /*-moz-border-image-source: url(../images/vishivanka_border.png);*/

    /*-webkit-border-image-slice: 6 6 6 6;*/
    /*-webkit-border-image-width: 6px 6px 6px 6px;*/
    /*-webkit-border-image-outset: 0px 0px 0px 0px;*/
    /*-webkit-border-image-repeat: round repeat;*/
    /*-webkit-border-image-source: url(../images/vishivanka_border.png);*/

    /*-o-border-image-slice: 6 6 6 6;*/
    /*-o-border-image-width: 6px 6px 6px 6px;*/
    /*-o-border-image-outset: 0px 0px 0px 0px;*/
    /*-o-border-image-repeat: round repeat;*/
    /*-o-border-image-source: url(../images/vishivanka_border.png);*/

    /*border-image-slice: 6 6 6 6;*/
    /*border-image-width: 6px 6px 6px 6px;*/
    /*border-image-outset: 0px 0px 0px 0px;*/
    /*border-image-repeat: round repeat;*/
    /*border-image-source: url(../images/vishivanka_border.png);*/
  }
}

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {

  .green-border{
    border: 4px solid #63CF0B;
  }


  .vishivanka-border {
    /*border: 12px solid #63CF0B;*/
    /*-moz-border-image-slice: 6 6 6 6;*/
    /*-moz-border-image-width: 6px 6px 6px 6px;*/
    /*-moz-border-image-outset: 0px 0px 0px 0px;*/
    /*-moz-border-image-repeat: round repeat;*/
    /*-moz-border-image-source: url(../images/vishivanka_border.png);*/

    /*-webkit-border-image-slice: 6 6 6 6;*/
    /*-webkit-border-image-width: 6px 6px 6px 6px;*/
    /*-webkit-border-image-outset: 0px 0px 0px 0px;*/
    /*-webkit-border-image-repeat: round repeat;*/
    /*-webkit-border-image-source: url(../images/vishivanka_border.png);*/

    /*-o-border-image-slice: 6 6 6 6;*/
    /*-o-border-image-width: 6px 6px 6px 6px;*/
    /*-o-border-image-outset: 0px 0px 0px 0px;*/
    /*-o-border-image-repeat: round repeat;*/
    /*-o-border-image-source: url(../images/vishivanka_border.png);*/

    /*border-image-slice: 6 6 6 6;*/
    /*border-image-width: 6px 6px 6px 6px;*/
    /*border-image-outset: 0px 0px 0px 0px;*/
    /*border-image-repeat: round repeat;*/
    /*border-image-source: url(../images/vishivanka_border.png);*/
  }
}

/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #FFCC00;
    background-color: #ff0000;
  }

  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    background-color: #ff0000;
    color: #FFCC00;
  }

  .navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    background-color: #FFCC00;
  }
}

/* Landscape phones and down */
@media (max-width: 480px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #FFCC00;
    background-color: #ff0000;
  }

  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    background-color: #ff0000;
    color: #FFCC00;
  }

  .navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    background-color: #FFCC00;
  }
}
