body {
  background-color: #faf092;
  color: #000;
  font-family: 'Roboto Slab', serif;
  /*Light 300*/
  /*Regular 400*/
  /*Bold 700*/
  font-weight: 300;
  font-size: 12px;
  line-height: 1.42857143;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  margin: 10px 0;
}

h1{
  font-size: 3em;
  color: #443f35;
}

h2{
  font-size: 2em;
  font-weight: 400;
}

h3{
  font-size: 1.863em;
  font-weight: 400;
}

h4{
  font-size: 1.500em;
  font-weight: 400;
}

h5{
  font-size: 1.200em;
  font-weight: 400;
}

h6{
  font-size: 0.917em;
  font-weight: 300;
}

a {
  color: #404040;
  font-weight: 400;
}

a:hover, a:focus {
  color: #92253c;
}

.header{
  background-color: #761025;
  color: #fff;
  text-align: right;
}

.bgimage{
  background-image: url(../images/bgimage.jpg);
  background-position: left bottom;
  background-repeat: repeat;
}

.preambula{
  font-size:1.333em;
  font-weight: 400;
  color: #fff;
}

.bcolor{
  color: #faf092;
}

.btn-header{
  color: #faf092;
  background-color: transparent;
  border: 1px solid #faf092;
  border-radius: 4px;
  font-size: 1.083em;
}
.btn-header:hover,.btn-header:focus{
  color: #fff8b7;
  background-color: transparent;
  border: 1px solid #fff8b7;
  border-radius: 4px;
}

.vcentered-col{
  display: inline-block;
  vertical-align: middle;
  float: none;
}

.nav{
  font-size: 1.167em;
}

.main-text{
  font-size: 1.167em;
}

.nav a{
  font-weight: 700;
  color: #faf092;
  background-color: transparent;
}

.nav > li > a:hover, .nav > li > a:focus {
  color: #fff;
  text-decoration: none;
  background-color: transparent;
  box-shadow: 0 5px 0 #80192f;
}

.main-carousel{
  background-color: #fff8b7;
}

.banner-container{
  display: table;
}

.banner{
  color: #fff;
  background-color: #761025;
  display: table-cell;
  float: none;
  vertical-align:middle;
}

.banner p{
  font-size: 1.750em;
}

.banner h1 {
  color: #fff;
  font-size: 2.750em;
  font-weight: 400;
}

.banner a {
  color: #94273e;
  font-size: 1.863em;
  font-weight: 400;
  padding: 0.5em 1.5em;
}

.slider{
  font-weight: 400;
}

.slider h1{
  font-size: 1.667em;
  color: #faf092;
  font-weight: 400;
}

.slider a{
  color: #94273e;
  font-size: 1.5em;
  padding: 0.5em 2em;
}


.slider .carousel-indicators li {
  border: 1px solid #fff;
  background-color: #fff;
}



.slider .carousel-indicators .active {
  background-color: #cb0032;
}



.slider .right.carousel-control, .slider .left.carousel-control {
  display: none;
}

.subprojects h2{
  font-size: 1.5em;
}

.subprojects-link{
  background-color: white;
  padding: 0.5em 1em;
}
.subprojects-link:hover{
  background-color: #94273e;
}

.subprojects-link.btn{
  color: #404040;
}
.subprojects-link.btn:hover{
  color: #faf092;
}

select,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
  background-color: #ffff99;
}



.browsehappy {
  background: #ccc;
  color: #000;
  margin: 0.2em 0;
  padding: 0.2em 0;
}

/*BUTTONS start*/
.btn {
  background-image: -moz-linear-gradient(top, #92253c, #cb0032);
  background-image: -ms-linear-gradient(top, #92253c, #cb0032);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#92253c), to(#cb0032));
  background-image: -webkit-linear-gradient(top, #92253c, #cb0032);
  background-image: -o-linear-gradient(top, #92253c, #cb0032);
  background-image: linear-gradient(top, #92253c, #cb0032);
  color: #faf092;
}

a > h1, button > h1,
a > h2, button > h2,
a > h3, button > h3,
a > h4, button > h4,
a > h5, button > h5,
a > h6, button > h6 {
  color: #faf092;
}

.btn-default {
  background-color: #faf092;
  border-color: #faf092;
  color: #cb0032;
}

.btn-default:hover,.btn-default:focus {
  background-color: #fff8b7;
  border-color: #fff8b7;
  color: #92253c;
}

.btn-link {
  color: #404040;
}

.btn-link:hover,
.btn-link:focus {
  color: #cb0032;
}

.btn-info{
  color: #cb0032;
  background-color: transparent;
  border: 1px solid #cb0032;
}
.btn-info:hover{
  color: #92253c;
  background-color: transparent;
  border: 1px solid #92253c;
}

.btn-danger {
  color: #92253c;
}
/*BUTTONS end*/


.gallery {
  margin: 20px 0;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.footer {
  background-color: #761025;
  color: #fff;
  text-align: left;
}

.footer p {
  color: #faf092;
  font-size: 1em;
  padding:0.5em 0 0 0;
}

.footer h2 {
  color: #faf092;
}


.btn-social-icon {
  color: #ffffff;
  border-radius: 50%;
  margin: 10px auto;
}

/*Album carousel start*/
.photo-caption {
  color: #fff;
  width:100%;
  bottom: .0rem;
  position: absolute;
  background:rgba(115, 16, 36, 0.69);
  padding: 0.5em 0;
  line-height: 2.5ex;
  min-height: 7.5ex;
  display: table;
  table-layout: fixed;
}

.photo-caption-content{
  display:table-cell;
  vertical-align:middle;
  text-align:center;
}

.slide-caption {
  text-align: left;
  color: #fff;
  width:46%;
  bottom: 10%;
  position: absolute;
  background:rgba(29, 29, 31, 0.74);
  padding: 3% 0 0 5%;
}

.photo-thumbnail {
  margin: .1em;
  position: relative;
}

.photo-thumbnail:hover{
  outline: 0.2em solid #cc0033;
}
/*Album carousel end*/

/*specific video start*/
.video:after {
  content: "\f16a";
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
  position: absolute;
  font-size: 5em;
  color: rgba(0, 0, 0, 0.7);
  top: 30%;
  left: 42%;
  z-index: 1;
}
.video:hover:after {
  content: "\f16a";
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
  position: absolute;
  font-size: 5em;
  color: rgba(203, 23, 29, 1);;
  top: 30%;
  left: 42%;
  z-index: 2;
}
/*specific video end*/

/*changed for grouped carousel start*/
.carousel-control {
  color: #cb0032;
  filter: alpha(opacity=100);
  opacity: 1;
}

.carousel-control.right {
  background-image: none;
}

.carousel-control.left {
  background-image: none;
}

.carousel-indicators li {
  border: none;
}

.carousel-indicators .active {
  background-color: transparent;
}

.carousel-control:hover, .carousel-control:focus {
  color: #92253c;
}

.carousel-control .glyphicon-chevron-left, .carousel-control .icon-prev {
  margin-left: -70%;
}
.carousel-control .glyphicon-chevron-right, .carousel-control .icon-next {
  margin-right: -70%;
}
/*changed for grouped carousel end*/

.col-centered{
  float: none;
  margin: 0 auto;
  display: block;
}

/*MARGINS start*/
.margin-05 {
  margin: 0.5em 0;
}

.margin-10 {
  margin: 1.0em 0;
}

.margin-15 {
  margin: 1.5em 0;
}

.margin-20 {
  margin: 2.0em 0;
}

.margin-25 {
  margin: 2.5em 0;
}

.margin-30 {
  margin: 3.0em 0;
}

.margin-35 {
  margin: 3.5em 0;
}

.margin-50 {
  margin: 5.0em 0;
}
.padding-20 {
  padding: 2.0em 0;
}

.padding-top-20 {
  padding-top: 2.0em;
}

.padding-top-25 {
  padding-top: 2.5em;
}

.padding-top-10 {
  padding-top: 1.0em;
}

.margin-top-50 {
  margin-top: 5.0em;
}

.margin-top-20 {
  margin-top: 2.0em;
}


/*MARGINS end*/

.angular-google-map-container { height: 400px; }

/*Novelty css starts*/
.novelty-link-date {
  background-color: white;
  padding: 0.5em 1em;
}
.novelty-link-date a {
  color: black;
}

.novelty-summary-view{
  padding: 1em 0;
}
/*Novelty css ends*/

#toTop{
  display: block;
  border:0 !important;
  position: fixed;
  bottom: 2%;
  right: 2%;
}

/* Responsive: Portrait tablets and up */


/*Extra large desktop*/
@media (min-width: 1600px) {

  body{
    font-size: 12px;
  }

  .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12 {
    float: left;
  }

  .col-xl-12 {
    width: 100%;
  }

  .col-xl-11 {
    width: 91.66666667%;
  }

  .col-xl-10 {
    width: 83.33333333%;
  }

  .col-xl-9 {
    width: 75%;
  }

  .col-xl-8 {
    width: 66.66666667%;
  }

  .col-xl-7 {
    width: 58.33333333%;
  }

  .col-xl-6 {
    width: 50%;
  }

  .col-xl-5 {
    width: 41.66666667%;
  }

  .col-xl-4 {
    width: 33.33333333%;
  }

  .col-xl-3 {
    width: 25%;
  }

  .col-xl-2 {
    width: 16.66666667%;
  }

  .col-xl-1 {
    width: 8.33333333%;
  }

  .col-xl-pull-12 {
    right: 100%;
  }

  .col-xl-pull-11 {
    right: 91.66666667%;
  }

  .col-xl-pull-10 {
    right: 83.33333333%;
  }

  .col-xl-pull-9 {
    right: 75%;
  }

  .col-xl-pull-8 {
    right: 66.66666667%;
  }

  .col-xl-pull-7 {
    right: 58.33333333%;
  }

  .col-xl-pull-6 {
    right: 50%;
  }

  .col-xl-pull-5 {
    right: 41.66666667%;
  }

  .col-xl-pull-4 {
    right: 33.33333333%;
  }

  .col-xl-pull-3 {
    right: 25%;
  }

  .col-xl-pull-2 {
    right: 16.66666667%;
  }

  .col-xl-pull-1 {
    right: 8.33333333%;
  }

  .col-xl-pull-0 {
    right: auto;
  }

  .col-xl-push-12 {
    left: 100%;
  }

  .col-xl-push-11 {
    left: 91.66666667%;
  }

  .col-xl-push-10 {
    left: 83.33333333%;
  }

  .col-xl-push-9 {
    left: 75%;
  }

  .col-xl-push-8 {
    left: 66.66666667%;
  }

  .col-xl-push-7 {
    left: 58.33333333%;
  }

  .col-xl-push-6 {
    left: 50%;
  }

  .col-xl-push-5 {
    left: 41.66666667%;
  }

  .col-xl-push-4 {
    left: 33.33333333%;
  }

  .col-xl-push-3 {
    left: 25%;
  }

  .col-xl-push-2 {
    left: 16.66666667%;
  }

  .col-xl-push-1 {
    left: 8.33333333%;
  }

  .col-xl-push-0 {
    left: auto;
  }

  .col-xl-offset-12 {
    margin-left: 100%;
  }

  .col-xl-offset-11 {
    margin-left: 91.66666667%;
  }

  .col-xl-offset-10 {
    margin-left: 83.33333333%;
  }

  .col-xl-offset-9 {
    margin-left: 75%;
  }

  .col-xl-offset-8 {
    margin-left: 66.66666667%;
  }

  .col-xl-offset-7 {
    margin-left: 58.33333333%;
  }

  .col-xl-offset-6 {
    margin-left: 50%;
  }

  .col-xl-offset-5 {
    margin-left: 41.66666667%;
  }

  .col-xl-offset-4 {
    margin-left: 33.33333333%;
  }

  .col-xl-offset-3 {
    margin-left: 25%;
  }

  .col-xl-offset-2 {
    margin-left: 16.66666667%;
  }

  .col-xl-offset-1 {
    margin-left: 8.33333333%;
  }

  .col-xl-offset-0 {
    margin-left: 0;
  }

  .visible-xl {
    display: block !important;
  }

  table.visible-xl {
    display: table;
  }

  tr.visible-xl {
    display: table-row !important;
  }

  th.visible-xl, td.visible-xl {
    display: table-cell !important;
  }

  .visible-xl-block {
    display: block !important;
  }

  .visible-xl-inline {
    display: inline !important;
  }

  .visible-xl-inline-block {
    display: inline-block !important;
  }

  .hidden-xl {
    display: none !important;
  }
}

@media (min-width: 1200px) and (max-width: 1599px) {
  .hidden-lg {
    display: none !important;
  }
}
.visible-xl-block,
.visible-xl-inline,
.visible-xl-inline-block,
.visible-xl{
  display: none !important;
}

/* Large desktop */
@media (min-width: 1200px) {
  .container {
    width: 1000px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {
  .container {
    width: 750px;
  }
}

/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
  .container {
    width: 100%;
  }
}

/* Landscape phones and down */
@media (max-width: 480px) {
  .container {
    width: 100%;
  }
}
