html {
  height: 100%;
}
.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding: 0;
  height: 100%;
}


.nl_grad_horizontal{
  background: -webkit-linear-gradient(left, #F8606A, #FDFBA0); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(right, #F8606A, #FDFBA0); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right,#F8606A, #FDFBA0); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right,#F8606A, #FDFBA0); /* Standard syntax */
}
.nl_grad_vertical{
  background: -webkit-linear-gradient( #F8606A, #FDFBA0); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient( #F8606A, #FDFBA0); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#F8606A, #FDFBA0); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#F8606A, #FDFBA0); /* Standard syntax */
}

.nl_carousel{
  margin: 1.250em 0;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 0.9375em;
  padding-right: 0.9375em;
}

/* Custom page header */
.header {
  /*border-bottom: 1px solid #e5e5e5;*/
  margin-bottom: 0.625em;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 2.500em;
  padding-bottom: 1.1875em;
}

.footer {
  padding-top: 1.1875em;
  /*color: #777;*/
  /*border-top: 1px solid #e5e5e5;*/
  text-align: center;
  /*background-color: #60CF45;*/
  /*min-width: 100%;*/
}


.footer, .push {
  height: 4em;
/*.push must be the same height as .footer*/
}


/* Custom page footer */


.container-narrow > hr {
  margin: 1.875em 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  font-size: 1.3125em;
  padding: 0.875em 1.500em;
}
.carousel-control.right.nl_carousel{
  background-image: none;
}
.carousel-control.left.nl_carousel{
  background-image: none;
}
/* Supporting marketing content */
.marketing {
  margin: 2.500em 0;
}
.marketing p + h4 {
  margin-top: 1.750em;
}

.wrapper {
  min-height: 100%;
  height: auto !important;
  /* This line and the next line are not necessary unless you need IE6 support */
  height: 100%;
  padding-top: 55px;
  margin: 0 auto -4em;
  /* the bottom margin is the negative value of the footer's height */
}


/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    /*max-width: 900px;*/
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 1.875em;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}
