<div ng-show="auth.user">
  <button type="button" class="btn btn-primary" ng-click="edit()" ng-hide="isEdit">
    <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
  </button>
  <div class="btn-group" role="group" aria-label="..." ng-show="isEdit" >
    <button type="button" class="btn btn-success" ng-click="preview()" ng-hide="isPreview">
      <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
    </button>
    <button type="button" class="btn btn-primary" ng-click="edit()" ng-show="isPreview">
      <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
    </button>
    <button type="button" class="btn btn-danger" ng-click="save()">
      <span class="glyphicon glyphicon-floppy-save" aria-hidden="true"></span>
    </button>
    </div>
  <div ng-show="isEdit&&!isPreview"><textarea ckeditor="editorOptions" ng-model="toEdit.$value" ></textarea></div>
  </div>
<div compile="toShowCompile"></div>
<div ng-bind-html="toShow"></div>
